<div class="container">
    <h1>Examples</h1>

    <div class="example test-local">
        <h3>Local data source</h3>
        {{body-movin path='loading' class='loader'}}
    </div>

    <div class="example test-local">
        <h3>setDirection example - Animation by <a href="//dribbble.com/shots/2140286-Play-Pause-Transition-Animation-Freebie">@apronsky</a>, Video by <a href="//vimeo.com/parallelteeth">@parallelteeth</a></h3>
        {{vimeo-player vimeoId="180159377"}}
    </div>

    <div class="example test-local">
        <h3>Another example - Animation by <a href="//dribbble.com/shots/1504355-Time-Animated">@basti</a></h3>
        {{body-movin path='time-richh'}}
    </div>

    <div class="example test-local">
        <h3>Local data source</h3>
        {{body-movin path='splitzy'}}
    </div>

    <div class="example test-external">
        <h3>External data source</h3>
        {{body-movin path='//lab.nearpod.com/bodymovin/demo/pancakes/data.json' external=true renderer="canvas"}}
    </div>

    {{!--
    <div class="example test-external">
        <h3>External data source</h3>
        {{body-movin path='//lab.nearpod.com/bodymovin/demo/ik/data.json' external=true}}
    </div>

    <div class="example test-external">
        <h3>Interactive callback Example</h3>
        {{ki-example}}
    </div>
    --}}


    <div class="example test-external">
        <h3>Blending Modes</h3>
        {{body-movin path='//lab.nearpod.com/bodymovin/demo/blendmodes/data.json' external=true}}
    </div>

    <div class="example test-play-pause">
        <h3>Play / Pause</h3>
        {{playPause-example path='//lab.nearpod.com/bodymovin/demo/2016/data.json' external=true}}
    </div>

</div>
